/**directives for including tailwindcss into directories*/
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card{
  @apply mb-5 block rounded-lg border-gray-200 shadow-md
}

.primary-button{
  @apply rounded py-2 bg-amber-300 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500
}